Data/
__pycache__/
.idea/
README.html
Embeddings-Discussion.html
Models-Specifications.html
Future-Works.html
train_multilingual.py
trash_bin.py
Models/Thai_temp/
Models/Burmese_temp/
Models/Thai_temp_genvec/
Models/Burmese_temp_genvec/
Models/Burmese_model4_version2/
Models/Other/
*~
